<ActionBar title="Graph POC"></ActionBar>

<StackLayout padding="10 0 0 0" style="background-color: rgb(202,199,199)">

    <AbsoluteLayout height="500" class="pt20 view">
        <AbsoluteLayout #dragGraph (pan)="onPanGraph($event)" orientation="horizontal">
            <StackLayout width="2000" top="150" height="350" class="tekort"></StackLayout>
            <StackLayout width="300" top="50" left="0">
                <StackLayout height="450" class="inkomen" (tap)="onTap($event)"></StackLayout>
            </StackLayout>
            <StackLayout width="150" top="300" left="300">
                <StackLayout height="75" class="kvl" (tap)="onTap($event)"></StackLayout>
                <StackLayout height="25" class="pensioen" (tap)="onTap($event)"></StackLayout>
                <StackLayout height="100" class="nnpensioen" (tap)="onTap($event)"></StackLayout>
            </StackLayout>
            <StackLayout width="600" top="100" left="450">
                <StackLayout height="175" class="kvl" (tap)="onTap($event)"></StackLayout>
                <StackLayout height="25" class="pensioen" (tap)="onTap($event)"></StackLayout>
                <StackLayout height="75" class="nnpensioen" (tap)="onTap($event)"></StackLayout>
                <StackLayout height="125" class="aow" (tap)="onTap($event)"></StackLayout>
            </StackLayout>
        </AbsoluteLayout>

        <AbsoluteLayout #aowAge height="350" top="150" left="227">
            <StackLayout width="1" class="ruler" top="0" left="22" height="100%"></StackLayout>
            <AbsoluteLayout orientation="horizontal" class="cirkel" top="157" (tap)="onTapAge($event)">
                <Label class="fa fa-disabled" [text]="'fa-chevron-right' | fonticon" top="12" left="11"></Label>
                <Label class="fa fa-disabled" [text]="'fa-chevron-left' | fonticon" top="12" left="17"></Label>
            </AbsoluteLayout>
        </AbsoluteLayout>

        <AbsoluteLayout #dragAge height="450" left="78" top="50">
            <AbsoluteLayout orientation="horizontal" class="cirkel" top="207">
                <Label class="fa" [text]="'fa-chevron-left' | fonticon" top="12" left="5" ></Label>
                <Label class="fa" [text]="'fa-chevron-right' | fonticon" top="12" left="21"></Label>
            </AbsoluteLayout>
            <StackLayout width="1" class="ruler" top="0" left="22" height="100%"></StackLayout>
        </AbsoluteLayout>

        <AbsoluteLayout #dragTarget top="128" left="100" width="750">
            <StackLayout width="100%" class="ruler" top="22" left="0" height="1"></StackLayout>
            <AbsoluteLayout orientation="vertical" class="cirkel" top="0" left="75" >
                <Label class="fa" [text]="'fa-chevron-up' | fonticon" left="11" top="2" ></Label>
                <Label class="fa" [text]="'fa-chevron-down' | fonticon" left="11" top="17"></Label>
            </AbsoluteLayout>
        </AbsoluteLayout>

    </AbsoluteLayout>

</StackLayout>